.container {
  padding: 5% 5%;
  background: #1a1a2e;
  height: 100dvh;

  header {
    display: flex;
    align-content: center;
    width: 100%;

    ion-buttons {
      ion-icon {
        color: white;
      }
    }

    h3 {
      width: 85%;
      text-align: center;
      color: white;
    }
  }

  .seletor-ano-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 220px;
    margin: 0 auto 24px;

    background: #e0e0e0;
    border-radius: 16px;
  }

  .ano-display {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--ion-color-primary);
    flex-grow: 1;
    text-align: center;
  }

  .seletor-ano-horizontal ion-button {
    --padding-start: 8px;
    --padding-end: 8px;
    --ripple-color: var(--ion-color-primary);

    ion-icon {
      font-size: 1.4rem;
      color: var(--ion-color-primary);
    }
  }

  .list-container {
    position: relative;

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 55dvh;
    border-radius: 20px;
    overflow-y: auto; // Mantém a rolagem funcional

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s;

    &:hover {
      scrollbar-color: var(--ion-color-primary) transparent;
    }

    &::-webkit-scrollbar {
      width: 14px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 10px;
      background-clip: content-box;
      transition: background-color 0.3s ease-in-out;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: var(--ion-color-primary);
    }
    ion-list {
      ion-item {
        ion-icon[name="calendar"] {
          background: #3e92cc;
          padding: 10px;
          border-radius: 50%;
          color: #e0e0e0;
        }
      }
    }
  }

  .buttons-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    ion-button {
      --background: #3e92cc;
      --border-radius: 20px;
      --color: #e0e0e0;
    }
  }
}

body.dark {
  .seletor-ano-horizontal {
    background: rgba(var(--ion-color-primary-rgb), 0.15);
  }
}
