<ion-content [fullscreen]="true">
  <div class="container">
    <header>
      <ion-buttons slot="start">
        <ion-icon
          name="chevron-back"
          [routerLink]="['/home']"
          size="large"
        ></ion-icon>
      </ion-buttons>
      <h3>Calendário de Feriados</h3>
    </header>

    <div class="seletor-ano-horizontal">
      <ion-button fill="clear" (click)="anoAnterior()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>

      <div class="ano-display">{{ anoSelecionado }}</div>

      <ion-button fill="clear" (click)="proximoAno()">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <div>
      <div class="list-container">
        @if (feriados.length) {
        <ion-list>
          @for (feriado of feriados; track $index) {
          <ion-item [button]="true" detail="false">
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-label>
              <ion-text>{{feriado.name}}</ion-text><br />
              <ion-note color="medium" class="ion-text-wrap">
                {{ feriado.date | date:'d':'UTC' }} de {{ feriado.date |
                date:'MMMM':'UTC' | titlecase }}
              </ion-note>
            </ion-label>
          </ion-item>
          }
        </ion-list>
        }
      </div>
      <div class="buttons-container">
        <ion-button [routerLink]="['/home']">Home</ion-button>
        <ion-button [routerLink]="['/perfil']">Meu Perfil</ion-button>
      </div>
    </div>
  </div>
</ion-content>
